*{
	margin: 0px;
	padding: 0px;
}
.container{
	width: 1173px;
	height: 1070px;
	margin: 0 auto;
	background: #f3f3f3;
}
.user-left{
	position: absolute;
	margin-top: 93px;
	margin-left: 35px;
}
.body-right{
	background-color: white;
	width:830px;
	height:900px;
	margin-top: 93px;
	float: right;
	margin-right: 35px;
}
#change p{
	font-size: 20px;
	padding-top: 22px;
	padding-left: 24px;
	margin-left:-20px;
	margin-top:20px;
	display: inline-block;/*块-行*/
	
}
#change span{
	font-size: 20px;
	padding-top: 22px;
	padding-left: px;
	color:#00ffff;
}

.change_pic{
	margin-left: 20px;
	
	
}

.load p{
	/*margin-bottom:45px;*/
	padding-top: 25px;
	font-size: 20px;
	padding-left: 110px;
	/*background-color: 0000;*/
	/*margin-left: 20px;*/
	display: inline-block;
}

.nickname{
	padding-top: 25px;
	padding-left: 80px;
	font-size: 20px;
}
.Tel{
	padding-top: 25px;
	padding-left: 80px;
	font-size: 20px;
}
.youxiang{
	padding-top: 25px;
	padding-left: 90px;
	font-size: 20px;

}

.sex{
	padding-top: 25px;
	padding-left: 80px;
	font-size: 20px;
}
/*.ss{
	width:200px;
	height:35px;
	/*border-radius: 5px;*/
	/*
	font-size: 20px;
	}*//**/
	
.input{
	padding-top: 25px;
	padding-left: 90px;
	font-size: 20px;
}
.gx{
	padding-top: 25px;
	padding-left: 70px;
	font-size: 20px;
}

.gx input{
	width: 350px;
	height:105px;
}

.receiv{
	padding-top: 25px;
	padding-left: 70px;
	font-size: 20px;
}
.receiv input{
	width: 305px;
	height:55px;
}
#bg span{
	color: gray;
	margin-top: 20px;
}
#bg p{
	margin-left:-55px;
	padding-top: 25px;
	padding-left: 60px;
	font-size: 20px;
}
#col p{
	margin-left:110px;
	padding-top: 25px;
	/*padding-left: -45px;*/
	font-size: 20px;
   /* display: inline-block;/*鍧�琛�/*/
}
.input span{
	font-size: 10px;
	border-bottom: 555px;
}
.input .pp{
	/*border-radius: 5px;添加圆角*/
	font-size: 20px;
	width:80px;
	height:35px;
}
.input .ww{
	/*border-radius: 5px;*/
	font-size: 20px;
	width: 60px;
	height:35px;
}
#input{
	padding-top: 10px;
	font-size: 23px;
	padding-left: 100px;
}
#input p{
	display: inline-block;
	font-size: 23px;
	color:#ccc;
}
#input .send{
	padding-left: 180px;
	font-color:white;
}
.button{
	/*padding-left: 220px;*/
	padding-top: 15px;
	margin: 0 auto;
	width: 250px;
	height: 35px;
}

#col p{
	
	display: block;
	/*position: absolute;*/
	float: left;
}




#col .xx{
	float:right;
	margin-right: 160px;
	margin-top: 23px;
}


#a1{
	width:25px;
	height:25px;
	display: inline-block;
	background-color: #000000;
}
#a2{
	width:25px;
	height:25px;
	display: inline-block;
	background-color: #00ff00;
}
#a3{
	width:25px;
	height:25px;
	display: inline-block;
	background-color:#00ffff;
}
#a4{
	width:25px;
	height:25px;
	background-color: #ffff33;
	display: inline-block;
}
#a5{
	width:25px;
	height:25px;
	background-color: #cc6600;
	display: inline-block;
}
#a6{
	width:25px;
	height:25px;
	background-color: #ff0000;
	display: inline-block;
}
#a7{
	width:25px;
	height:25px;
	background-color: #cc0066;
	display: inline-block;
}
#a8{
	width:25px;
	height:25px;
	background-color: #000000;
	display: inline-block;
}
#a9{
	width:25px;
	height:25px;
	background-color: #00ff00;
	display: inline-block;
}
#a10{
	width:25px;
	height:25px;
	background-color: #00ffff;
	display: inline-block;
}
#a11{
	width:25px;
	height:25px;
	background-color: #ffff33;
	display: inline-block;
}
#a12{
	width:25px;
	height:25px;
	background-color: #cc6600;
	display: inline-block;
}
#a13{
	width:25px;
	height:25px;
	background-color: #ff0000;
	display: inline-block;
}
#a14{
	width:25px;
	height:25px;
	background-color: #cc0066;
	display: inline-block;
}
#bg{
	color:black;
	margin-left:30px;
	font-size:20px;
	margin-top:5px;
	padding-left: 80px;
	padding-top: 25px;
}
#upload{
	margin-left: 462px;
	margin-top: 10px;
}

