<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>信息完善</title>
<link href="style/css.css" rel="stylesheet" type="text/css" />
</head>
<body>
<p>&nbsp;</p>
<div class="topBg">
    <div class="top layout"></div>
        <div class="nav layout"> 
            <a href="user_index.html"class="selected">首页</a>
            <a href="conpany.html">公司</a>
            <a href="user_news">消息</a>
            <a href="javascript:0;" class="navEnd user_option">angus</a>       
        </div>
     <ul class="select_option"style="display:none;">
        <li><a href="user_center.html">资料</a></li>
        <li><a href="user_edit.html">设置</a></li>
        <li><a href="login.html">退出</a></li>
      </ul>
</div>
<div class="main">
    <div class="right">
        <div class="rSearch shadow"> 职位
            <input name="input" type="text" value="搜索职位" onclick="this.value=''" class="rSearchInput" />
            <br />
            企业
            <select name="select4" id="select4">
                <option>全部</option>
                <option>IT企业</option>
            </select>
            <br />
            地区
            <select name="select5" id="select5">
                <option>全部</option>
                <option>江苏</option>
            </select>
            <br />
            日期
            <select name="select6" id="select6">
                <option>所有</option>
                <option>三日内</option>
                <option>本周内</option>
                <option>本月内</option>
            </select>
            <br />
            <a class="inputBtn searchBtn">搜索</a> </div>
        <div class="rType shadow"> <strong>分类浏览招聘</strong>
            <ul>
                <li class="select">全部</li>
                <li>研发</li>
                <li>产品</li>
                <li>策划</li>
                <li>运营</li>
                <li>其它</li>
            </ul>
        </div>
        <div class="rRe shadow"> 推荐人：<strong>戴光浩</strong> </div>
        <div class="rPosition shadow"> <strong>其它同类职位</strong> <a href="#">• 前端开发工程师</a> <a href="#">• 市场经理</a> <a href="#">• 高级软件工程师</a> <a href="#">• AS3高级开发工程师 </a> <a href="#">• java开发工程师</a> </div>
    </div>
    <div class="left">
	    <div class="box1 shadow">
        	<div class="tit">
            	<h3>请填写完整您的公司信息</h3>
        	</div>    
            <table class="TB2">
                <tr>
                    <th>姓名：</th>
                    <td>
                    	<input class="TB2Input" name="input2" type="text" />
                    </td>
                </tr>
                <tr>
                    <th>就职企业：</th>
                    <td><input class="TB2Input" name="input4" type="text" /></td>
                </tr>
                <tr>
                    <th>部门：</th>
                    <td><input class="TB2Input" name="input3" type="text" /></td>
                </tr>
                <tr>
                    <th>职务：</th>
                    <td><input class="TB2Input" name="input7" type="text" /></td>
                </tr>
                
                <!-- *********** -->
                
                <tr>
                    <tr>
                    <th>职务：</th>
                    <td><input class="TB2Input" name="input7" type="text" /></td>
                </tr>
                <tr>
                    <th>职务：</th>
                    <td><input class="TB2Input" name="input7" type="text" /></td>
                </tr>
                <tr>
                    <th>职务：</th>
                    <td><input class="TB2Input" name="input7" type="text" /></td>
                </tr>
                <tr>
                    <th>职务：</th>
                    <td><input class="TB2Input" name="input7" type="text" /></td>
                </tr>
                <tr>
                    <th>职务：</th>
                    <td><input class="TB2Input" name="input7" type="text" /></td>
                </tr>
                <tr>
                    <th>职务：</th>
                    <td><input class="TB2Input" name="input7" type="text" /></td>
                </tr>
                <tr>
                    <th>职务：</th>
                    <td><input class="TB2Input" name="input7" type="text" /></td>
                </tr>
                <tr>
                    <th>企业简介：</th>
                    <td><textarea name="input5" class="TB2Textarea"></textarea></td>
                </tr>
                    <td colspan="2">
                       <hr class="line" />
                        <a href="company_index.html" class="TB2Btn1">完成</a>
                        <!-- <a href="#" class="TB2Btn2">以后再说</a> -->
                        </td>
                </tr>
            </table>
        </div>
	</div>
</div>
<div class="foot">Copyright © 2012 itmag.com All rights reserved. | 苏ICP备12067872号 </div>
</body>
</html>
